 <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Localizacion Inalambrica Segura</small>
      <small>  |  Pagina creada por Diego Cruz Rodríguez </small>
      <br>
      <small><a target="_blank" href="https://iconos8.es/icon/30605/ubicaci%C3%B3n-en-todo-el-mundo">Ubicación en todo el mundo</a> icono de <a target="_blank" href="https://iconos8.es">Icons8</a> </small>
      <small>  |  <a target="_blank" href="https://icons8.com/icon/SnrBv0CDNMRm/air">Air icon by Icons8</a></small>
      <small>  |  <a target="_blank" href="https://icons8.com/icon/3672/dispositivo-gps">Dispositivo GPS icon by Icons8</a></small>
      
    </div>
  </footer>